#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-BG-F1F2F7 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Triangle_Nowpage {
  -ms-transform: rotate(270.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-More {
  -ms-transform: rotate(90.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_50 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_43 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_44 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_47 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_45 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_50 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_117 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rich_text_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 6px 6px 6px 6px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 245px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808FA4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808FA4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808FA4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808FA4;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 276px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808FA4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808FA4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808FA4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808FA4;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 276px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Button_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_63 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_1 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_20 {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_60 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_62 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_115 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_61 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_63 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Paragraph_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 6px 6px 6px 6px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 245px;
  height: 32px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_29 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808FA4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808FA4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808FA4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808FA4;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 276px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_81 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #808FA4;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #808FA4;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #808FA4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #808FA4;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 276px;
  height: 16px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Paragraph_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 4px 4px 4px 4px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 14px;
  width: 249px;
  height: 15px;
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Navigation {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_68 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_69 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_71 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_78 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_82 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Triangle_Nowpage_1 {
  -ms-transform: rotate(270.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_194 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_195 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_196 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_197 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_198 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_199 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_200 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_201 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_202 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_203 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Rectangle_204 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-1b1bcc8e-4ba2-4e7c-b717-4915d8d277c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}