#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-BG-F1F2F7 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-More {
  -ms-transform: rotate(90.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 274px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Footer {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Button_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Button_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BEC3C7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BEC3C7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BEC3C7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BEC3C7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 274px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-BG-F1F2F7_1 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rich_text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D6E9C6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D6E9C6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6E9C6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D6E9C6;
  border-radius: 12px 12px 12px 12px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 18px;
  width: 349px;
  height: 69px;
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Navigation {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_68 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_69 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_71 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_78 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_82 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Triangle_Nowpage_1 {
  -ms-transform: rotate(270.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_194 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_195 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_196 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_197 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_198 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_199 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_200 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_201 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_202 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_203 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Rectangle_204 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-56bbd2f6-33a5-4112-918d-c4dfafc2aebc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}