#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-BG-F1F2F7 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rich_text_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 375px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-More {
  -ms-transform: rotate(90.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Footer_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rich_text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 375px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Navigation {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_68 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_69 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_71 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_78 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_82 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Triangle_Nowpage_1 {
  -ms-transform: rotate(270.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_194 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_195 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_196 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_197 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_198 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_199 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_200 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_201 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_202 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_203 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Rectangle_204 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-a205405e-5b62-40eb-8d78-d1c7100f815c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}