#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-BG-F1F2F7 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-More {
  -ms-transform: rotate(90.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rich_text_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 394px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Button_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Button_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A8D471;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A8D471;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A8D471;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A8D471;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Footer {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A8D471;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A8D471;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A8D471;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A8D471;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534F;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Ellipse_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Button_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Button_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BEC3C7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BEC3C7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BEC3C7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BEC3C7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-BG-F1F2F7_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rich_text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D6E9C6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D6E9C6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6E9C6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D6E9C6;
  border-radius: 12px 12px 12px 12px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 18px;
  width: 349px;
  height: 69px;
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Navigation {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_68 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_69 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_71 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_78 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_82 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Triangle_Nowpage_1 {
  -ms-transform: rotate(270.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_194 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_195 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_196 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_197 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_198 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_199 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_200 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_201 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_202 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_203 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Rectangle_204 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-a7aca90a-51ac-477f-902e-52a575cba01e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}