#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}