#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BC0DE;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BC0DE;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BC0DE;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BC0DE;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F0AD4E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F0AD4E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F0AD4E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F0AD4E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534F;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A8D471;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A8D471;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A8D471;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A8D471;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A8D471;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A8D471;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A8D471;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A8D471;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534F;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534F;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534F;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534F;
  border-radius: 16px 16px 16px 16px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Ellipse_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BEC3C7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BEC3C7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BEC3C7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BEC3C7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 586px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D6E9C6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D6E9C6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6E9C6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D6E9C6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 586px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Table_1 {
  border-collapse: separate;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_9 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 163px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 14px 14px 14px 14px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  width: 251px;
  height: 113px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 163px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Category_1-options {
  background-color: transparent;
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 #s-Rich_text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-b9d52a5b-851c-405a-9a36-011ac278b6f4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}