#s-f0079c43-d346-426c-ac77-0e83804a844f #s-BG-F1F2F7 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-More {
  -ms-transform: rotate(90.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Navigation {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_68 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_69 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_71 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_73 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_75 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_76 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_77 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_78 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_79 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_80 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_81 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_82 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_83 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_84 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_85 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_86 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_87 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_88 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_51 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_89 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_52 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_53 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_90 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_54 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_55 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Triangle_Nowpage_1 {
  -ms-transform: rotate(270.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_91 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_56 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_57 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_92 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_93 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_194 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_195 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_196 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_197 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_198 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_199 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_200 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_201 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_202 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_203 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_204 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_58 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_59 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F1F2F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F1F2F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F1F2F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  border-radius: 25px 25px 25px 25px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #D9534E;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #D9534E;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #D9534E;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #D9534E;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BEC3C7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BEC3C7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BEC3C7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BEC3C7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F1F2F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F1F2F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F1F2F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  border-radius: 25px 25px 25px 25px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BEC3C7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BEC3C7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BEC3C7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BEC3C7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #BCE8F1;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #BCE8F1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #BCE8F1;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #BCE8F1;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 335px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 144px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F1F2F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F1F2F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F1F2F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  border-radius: 25px 25px 25px 25px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D6E9C6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D6E9C6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D6E9C6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D6E9C6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 335px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F1F2F7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F1F2F7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F1F2F7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F1F2F7;
  border-radius: 25px 25px 25px 25px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #BEC3C7;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #BEC3C7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #BEC3C7;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #BEC3C7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Button_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #5BB85C;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #5BB85C;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #5BB85C;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #5BB85C;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 74px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rich_text_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EED3D7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EED3D7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EED3D7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EED3D7;
  border-radius: 5px 5px 5px 5px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  width: 335px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f #s-Rectangle_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 144px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-f0079c43-d346-426c-ac77-0e83804a844f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}