<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>迈动迭代.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2C2DC9CB1CC783FD008D28D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C2DC9E41CC783FD008D28D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C2DC9EF1CC783FD008D28D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
